# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/test
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/4.2.1/CMakeCCompiler.cmake
build/CMakeFiles/4.2.1/CMakeCXXCompiler.cmake
build/CMakeFiles/4.2.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/4.2.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.2.1/CMakeSystem.cmake
build/CMakeFiles/4.2.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/4.2.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/test.dir/build.make
build/CMakeFiles/test.dir/cmake_clean.cmake
build/CMakeFiles/test.dir/compiler_depend.internal
build/CMakeFiles/test.dir/compiler_depend.make
build/CMakeFiles/test.dir/compiler_depend.ts
build/CMakeFiles/test.dir/depend.make
build/CMakeFiles/test.dir/DependInfo.cmake
build/CMakeFiles/test.dir/flags.make
build/CMakeFiles/test.dir/link.txt
build/CMakeFiles/test.dir/progress.make
build/install_manifest.txt
build/libnetutils.so.0.0.1
build/libnetutils.so.1
build/build/cmake_install.cmake
build/build/CMakeCache.txt
build/build/install_manifest.txt
build/build/libnetutils.so.0.0.1
build/build/libnetutils.so.1
build/build/Makefile
build/build/CMakeFiles/cmake.check_cache
build/build/CMakeFiles/CMakeConfigureLog.yaml
build/build/CMakeFiles/CMakeDirectoryInformation.cmake
build/build/CMakeFiles/InstallScripts.json
build/build/CMakeFiles/Makefile.cmake
build/build/CMakeFiles/Makefile2
build/build/CMakeFiles/progress.marks
build/build/CMakeFiles/TargetDirectories.txt
build/build/CMakeFiles/4.2.1/CMakeCXXCompiler.cmake
build/build/CMakeFiles/4.2.1/CMakeDetermineCompilerABI_CXX.bin
build/build/CMakeFiles/4.2.1/CMakeSystem.cmake
build/build/CMakeFiles/4.2.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/build/CMakeFiles/Export/d0b50f310862b01c5363e5a6ef58d3c1/netutils-config-release.cmake
build/build/CMakeFiles/Export/d0b50f310862b01c5363e5a6ef58d3c1/netutils-config.cmake
build/build/CMakeFiles/netutils.dir/build.make
build/build/CMakeFiles/netutils.dir/cmake_clean.cmake
build/build/CMakeFiles/netutils.dir/compiler_depend.make
build/build/CMakeFiles/netutils.dir/compiler_depend.ts
build/build/CMakeFiles/netutils.dir/depend.make
build/build/CMakeFiles/netutils.dir/DependInfo.cmake
build/build/CMakeFiles/netutils.dir/flags.make
build/build/CMakeFiles/netutils.dir/link.txt
build/build/CMakeFiles/netutils.dir/progress.make
build/CMakeFiles/Export/d0b50f310862b01c5363e5a6ef58d3c1/netutils-config-noconfig.cmake
build/CMakeFiles/Export/d0b50f310862b01c5363e5a6ef58d3c1/netutils-config-release.cmake
build/CMakeFiles/Export/d0b50f310862b01c5363e5a6ef58d3c1/netutils-config.cmake
build/CMakeFiles/netutils.dir/build.make
build/CMakeFiles/netutils.dir/cmake_clean.cmake
build/CMakeFiles/netutils.dir/compiler_depend.internal
build/CMakeFiles/netutils.dir/compiler_depend.make
build/CMakeFiles/netutils.dir/compiler_depend.ts
build/CMakeFiles/netutils.dir/depend.make
build/CMakeFiles/netutils.dir/DependInfo.cmake
build/CMakeFiles/netutils.dir/flags.make
build/CMakeFiles/netutils.dir/link.txt
build/CMakeFiles/netutils.dir/progress.make
